.btn {
    display: inline-block;
    text-align: center;
    background: none;
    color: @orange;
    border: 3px solid @orange;
    transition: all 0.25s linear;
    border-radius: 0;
    &.btn-get-advice {
        float: right;
        margin-top: 1.4rem;
        padding: 1.5rem 1.8rem;
        .fsize(24);
    }
    &.btn-form {
        padding: 0.8rem 2rem;
        .fsize(18);
    }
    &.btn-large {
        margin: 3rem 0 0;
        padding: 1rem 6rem;
        .fsize(24);
    }

    &:hover {
        color: @white;
        background: @orange;
    }
}

.similar-projects {
    margin: 3.8rem 0 0;
}
.similar-projects_title {
    color: @orange;
    text-transform: uppercase;
    font-weight: 700;
    .fsize(16);
}