.setBg(@url, @bgSize: 100%, @bgRepeat: no-repeat) {
    width: unit(image-width(@url)) * 0.1rem;
    height: unit(image-height(@url)) * 0.1rem;
    background-image: url(@url);
    background-size: @bgSize;
    background-repeat: no-repeat;
}
.fsize(@sizeValue) {
    @remValue: @sizeValue/10;
    font-size: ~"@{remValue}rem";
}
.transition (@prop: all, @time: 0.25s, @ease: ease) {
    transition: @prop @time @ease;
}






html {
    background: @white;
    font-size: 10px;
}
body {
    font-family: 'Roboto';
    font-weight: 400;
    min-height: 100%;
    min-width: 320px;
}
h1, h2, h2, h4, h5, h6 {
    margin: 0;
}
a {

}


header {
    padding: 4rem 0 2.5rem;
    &.header-gray {
        background: @header-bg;
    }
}
.navbar-brand {
    display: inline-block;
    width: 11rem;
    height: 15.5rem;
    img {
        width: 100%;
    }
}
.main-menu {
    margin: 0 0 0 8%;
    padding: 6rem 0 0;
    li {
        margin: 0 0 0 2.8rem;
        &:first-child {
            margin-left: 0;
        }
        a {
            padding: 0;
            .fsize(24);
            color: @black;
            .transition();
            &:hover {
                color: @orange;
                background: none;
            }
            &.active {
                color: @orange;
                cursor: default;
            }
        }
    }
}
.main-content {
    padding: 2rem 0 0;
}
.home-slider {
    position: relative;
    overflow: hidden;
    padding: 0 0 14px;
    margin: 0 0 6rem;
    * {
        outline: none;
    }
    &:hover {
        .flex-next {
            right: 0;
        }
        .flex-prev {
            left: 0;
        }
    }
}
.header-right_phone {
    text-align: right;
    .phone {
        text-decoration: none;
        color: @gray-dark;
        line-height: 1;
        .fsize(42);
        span {
            .fsize(20);
            color: @gray-light;
        }
    }
    .callback {
        text-decoration: none;
        border-bottom: 1px dashed @orange;
        color: @orange;
        outline: none;
        &:hover {
            .fsize(14);
            border-bottom: none;
            text-decoration: none;
        }
    }
}


/* slider */
/*
 * jQuery FlexSlider v2.6.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
.flex-container a:hover,
.flex-slider a:hover {
    outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
.flexslider {
    margin: 0;
    padding: 0;
    .slides {
        > li {
            display: none;
            -webkit-backface-visibility: hidden;
            position: relative;
        }
        img {
            width: 100%;
            display: block;
        }
        &:after {
            content: "\0020";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    }
}
html[xmlns] .flexslider .slides {
    display: block;
}
* html .flexslider .slides {
    height: 1%;
}
.no-js .flexslider .slides > li:first-child {
    display: block;
}
.flexslider {
    position: relative;
    zoom: 1;
    .slides {
        zoom: 1;
        img {
            height: auto;
            -moz-user-select: none;
        }
    }
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .flex-viewport {
    max-height: 300px;
}
.carousel li {
    margin-right: 5px;
}
.flex-direction-nav {
    *height: 0;
    a {
        text-decoration: none;
        display: block;
        width: 40px;
        height: 40px;
        margin: -20px 0 0;
        position: absolute;
        top: 50%;
        z-index: 10;
        overflow: hidden;
        opacity: 0;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.8);
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        &:before {
            font-family: "flexslider-icon";
            font-size: 40px;
            display: inline-block;
            content: '\f001';
            color: rgba(0, 0, 0, 0.8);
            text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
        }
        &.flex-next:before {
            content: '\f002';
        }
    }

    .flex-prev {
        left: -50px;
    }
    .flex-next {
        right: -50px;
        text-align: right;
    }
    .flex-disabled {
        opacity: 0!important;
        filter: alpha(opacity=0);
        cursor: default;
        z-index: -1;
    }
}
.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1;
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    text-align: left;
    li {
        margin: 0 8px;
        display: inline-block;
        zoom: 1;
        *display: inline;
        &:first-child {
            margin-left: 0;
        }
        a {
            width: 40px;
            height: 5px;
            display: block;
            background: @slider-dots;
            cursor: pointer;
            text-indent: -9999px;
            outline: none;
        }
    }
}
.flex-control-paging li a:hover {
    background: @orange;
}
.flex-control-paging li a.flex-active {
    background: @orange;
    cursor: default;
}
.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
    li {
        width: 25%;
        float: left;
        margin: 0;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
        opacity: .7;
        cursor: pointer;
        -moz-user-select: none;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        &:hover {
            opacity: 1;
        }
    }
    .flex-active {
        opacity: 1;
        cursor: default;
    }
}
@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }
}

.custom-controls-container {
    position: absolute;
    width: 100%;
    bottom: 8px;
}
.custom-navigation {
    overflow: hidden;
    > a {
        position: absolute;
        display: inline-block;
        top: 50%;
        margin-top: -20px;
        width: 40px;
        height: 40px;
        transition: all 0.25s ease;
        background-color: fade(@white, 50%);
        background-size: 13px;
        background-position: center center;
        background-repeat: no-repeat;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 13px;
            path {
                stroke: #7d7d7d;
                stroke-width: 1px;
                fill: none;
                fill-rule: evenodd;
                transition: all 0.2s linear;
            }
        }
        &:hover {
            background-color: @orange;
            svg {
                path {
                    stroke: @white !important;
                    fill: @white;
                }
            }
        }
    }
}
.flex-prev {
    left: -40px;
    /* arr-left-gray.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAXCAMAAAAMT46wAAAAYFBMVEV+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn4RLlT4AAAAH3RSTlMAAQQKERkgJCUxMjdJSlBjd3iMjY6horPDxNHS3uXpIatHaAAAAGdJREFUeNpd0EkCgCAMA0BB6q6oKCCL/v+XHlPobU5N0vDrCm0vt84T05F6QJhIkLy9glrnWkh5KyEKRkB9OoBmyZpp/kwRbc268JD2whRPwa2eG3+RCpmtV9ziCgShL1tjrLeqlvwB8f0EX9AObsoAAAAASUVORK5CYII=);
    svg {
        transform: translate(-50%, -50%) rotate(180deg) !important;
    }
    &:hover {
        /* arr-left-white.png */
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAXCAMAAAAMT46wAAAAYFBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8GYpHzAAAAH3RSTlMAAQQKERkgJCUxMjdJSlBjd3iMjY6horPDxNHS3uXpIatHaAAAAGdJREFUeNpd0EkCgCAMA0BB6q6oKCCL/v+XHlPobU5N0vDrCm0vt84T05F6QJhIkLy9glrnWkh5KyEKRkB9OoBmyZpp/kwRbc268JD2whRPwa2eG3+RCpmtV9ziCgShL1tjrLeqlvwB8f0EX9AObsoAAAAASUVORK5CYII=);
    }
}
.flex-next {
    right: -40px;
    /* arr-right-gray.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAXCAMAAAAMT46wAAAAWlBMVEV+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn71Kk40AAAAHXRSTlMAAQQKERkgJDE3SEpRY3d4jY6horPDxNHS3d7l6SRic18AAABjSURBVHjaddBJDoAwCAXQznXubGur97+m20+M7F4IAT5jhmGZeyOexk5suyPWzXO0KlGgZc4SLVJRaB6qRjN3WeJ9LMThmUl3BR0dZrlvGvbGU/1dpUqCm3UN/PMvpkGzQiNepzMD7mbFwJEAAAAASUVORK5CYII=);
    &:hover {
        /* arr-right-white.png */
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAXCAMAAAAMT46wAAAAWlBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9jZLFEAAAAHXRSTlMAAQQKERkgJDE3SEpRY3d4jY6horPDxNHS3d7l6SRic18AAABjSURBVHjaddBJDoAwCAXQznXubGur97+m20+M7F4IAT5jhmGZeyOexk5suyPWzXO0KlGgZc4SLVJRaB6qRjN3WeJ9LMThmUl3BR0dZrlvGvbGU/1dpUqCm3UN/PMvpkGzQiNepzMD7mbFwJEAAAAASUVORK5CYII=);
    }
}
.slide-content-wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-left: 69%;
    .slide-content-bg {
        height: 100%;
        display: block;
        background: fade(@black, 70%);
        padding: 2.5rem 2.3rem;
    }
    .slide-content {
        max-height: 100%;
        display: block;
        overflow: hidden;
        color: @white;
    }
    .title {
        display: block;
        .fsize(30);
        line-height: 1.2;
        margin: 0 0 2rem;
    }
    .text {
        display: block;
        .fsize(14);
    }
}
/* end slider */

h2 {
    margin: 0 0 1.5rem;
    font-weight: 800;
    color: @black;
    .fsize(24);
}
.tiles-title {
    margin-bottom: -15px;
}
.tile-info {
    width: 100%;
    height: 100%;
    padding: 1.5rem 1.5rem;
    line-height: 1.15;
    position: relative;
    color: @info-tile-text;
    border: 2px solid @info-tile-border;
    &:before,
    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 43%;
        background: @info-tile-border;
        height: 7px;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
    .fsize(14);
    .more-link {
        display: block;
        width: auto;
        height: auto;
        position: absolute;
        left: 1.5rem;
        bottom: 1.5rem;
        background: none;
        color: @orange;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
.tile-info-content {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 2.9rem;
    overflow: hidden;
}

.tile {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        background: #efefef;
        &:hover {
            .tile-bg {
                //transform: scale(1.15);
            }
            .hover-wrap {
                //opacity: 1;
                display: block;
            }
        }
    }
    .tile-bg {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.4s ease;
    }
    .hover-wrap {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        //opacity: 0;
        background: fade(@black, 70%);
        transition: opacity 0.4s ease;
    }
    .hover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65.2%;
        color: @white;
        text-align: center;
    }
    .hover_icon {

    }
    .hover_title {
        display: block;
        .fsize(25);
        line-height: 1.2;
    }
    .hover_line {
        display: block;
        width: 100%;
        height: 2px;
        margin: 1rem 0 1.5rem;
        background: @orange;
    }
    .hover_text {
        display: block;
        .fsize(14);
        max-height: 8rem;
        overflow: hidden;
    }

}
.tile-big {
    a {
        &:hover {
            .tile-bg {
                //transform: scale(1.1);
            }
        }
    }
    .hover_icon {
        width: 9.2rem;
        height: 9.2rem;
    }
}
.tile-small {
    .hover {
        width: 88%;
    }
    .hover_icon {
        width: 6rem;
        height: 6rem;
    }
}

.all-projects-link {
    display: block;
    margin: 3.5rem auto auto;
    text-align: center;
    .fsize(24);
    color: @orange;
    text-decoration: underline;
    &:hover {
        color: @orange;
        text-decoration: none;
    }
}

footer {
    margin: 4.5rem 0 0;
    background: @footer-bg;
    color: @footer-text;
}
.footer_contacts {
    padding-top: 2.2rem;
    padding-bottom: 2rem;
}
.footer_copyright {
    padding: 1.75rem 0;
    background: @white;
}
.footer_title {
    margin: 0 0 1.7rem;
    .fsize(18);
    font-weight: 400;
    color: @black;
}
.footer-form {
    float: right;
}
.contacts_item {
    margin: 1rem 0;
    > span {
        display: block;
    }
    .contacts_phone {
        text-decoration: none;
        color: @footer-text;
        &:hover {
            color: @footer-text;
            text-decoration: none;
        }
    }
}
.contacts_email {
    text-decoration: underline;
    color: @orange;
    &:hover {
        color: @orange;
        text-decoration: none;
    }
}


.footer-icon-link {
    display: inline-block;
    float: left;
    margin: 6px 6px 0 0;
    width: 26px;
    height: 26px;
    background: url(../images/decor/footer-icon-link.png) no-repeat;
    transition: background 0.25s ease;
    &.fb {
        background-position: 0 0;
        &:hover {
            background-position: 0 -26px;
        }
    }
    &.vk {
        background-position: -26px 0;
        &:hover {
            background-position: -26px -26px;
        }
    }
    &.ok {
        background-position: -52px 0;
        &:hover {
            background-position: -52px -26px;
        }
    }
    &.inst {
        background-position: -78px 0;
        &:hover {
            background-position: -78px -26px;
        }
    }
}
.footer_chapters {
    margin: 0;
    padding: 0;
    li {
        display: block;
        margin: 0 0 0.4rem;
        a {
            text-decoration: underline;
            color: @footer-text;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.input-wrap {
    position: relative;
    width: 100%;
    margin: 0 0 1.5rem;
    &--small {
        display: inline-block;
        width: 48%;
    }
    &--left {
        display: inline-block;
        float: left;
    }
    &--right {
        display: inline-block;
        float: right;
    }
}
.input,
.textarea {
    display: block;
    width: 100%;
    padding: 0.9rem 0.7rem;
    border: 3px solid @input-border;
    border-radius: 0;
    resize: vertical;
    &:focus {
        outline: none;
        border: 3px solid darken(@input-border, 5%);
    }
    &.error {
        border-color: red;
    }
}
.input:-moz-placeholder,
.input:-ms-input-placeholder,
.input::-moz-placeholder,
.input::-webkit-input-placeholder,
.textarea:-moz-placeholder,
.textarea:-ms-input-placeholder,
.textarea::-moz-placeholder,
.textarea::-webkit-input-placeholder {
    color: @input-border;
}
.copyright {
    margin: 0;
}
.powered-by {
    margin: 0;
    text-align: right;
    a {
        color: @orange;
        text-decoration: underline;
        &:hover {
            color: @orange;
            text-decoration: none;
        }
    }
}
.breadcrumbs {
    margin: 0 auto 3.8rem;
}
.breadcrumbs-links {
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        &:before {
            content: ' - ';
        }
        &:first-child {
            &:before {
                content: '';
            }
        }
        &.active {
            text-decoration: none;
        }
        a {
            color: @breadcrumbs;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }

        }
    }
}
.project-content {
    color: @project-content;
    .fsize(14);
}
.page-title {
    .fsize(24);
    font-weight: 800;
    color: @black;
    text-transform: uppercase;
    margin: 0 0 2.2rem;
}
.project_title {
    margin: 0 0 1rem;
}
.project_subtitle {
    font-weight: 400;
    margin: 0 0 1rem;
}

.project-section {
    margin-bottom: 2.8rem;
}
.project-section_image {
    img {
        max-width: 100%;
    }
}
.project-section_descrip {
    padding-left: 28px;
    position: relative;
    &:before {
        position: absolute;
        top: 0.4rem;
        left: 9px;
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 9px solid @project-content;
        border-bottom: 5px solid transparent;
    }
}
.project-description {
    color: @project-description;
    font-weight: 400;
    strong {
        font-weight: 700;
    }
    p {
        margin: 0;
    }
}
.tile .all-interiors {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 100%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    color: @orange;
    .fsize(24);
    font-weight: 400;
    background: none;
    text-align: center;
    &:hover {
        text-decoration: none;
        color: @orange;
    }
}
.news-item {
    display: inline-block;
    color: @news-item;
    margin-bottom: 27px;
    line-height: 1.2;
    span {
        display: block;
    }
    > .row {
        margin: 0;
    }
    .row {
        display: block;
        &.bordered {
            border: 1px solid fade(@news-item-border, 20%);
            transition: all 0.25s linear;
        }
    }
    &:hover {
        color: @news-item;
        .news-item_more {
            text-decoration: underline;
        }
        .row {
            &.bordered {
                border: 1px solid fade(@news-item-border, 40%);
            }
        }
    }
}
.news-item_image {
    display: inline-block;
    padding-left: 0;
    overflow: hidden;
    text-align: center;
    img {
        display: block;
        width: 100%;
        transition: transform 0.25s ease;
    }
}
.news-item_descrip {
    display: inline-block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.news-item_date {
    display: block;
    margin: 0;
    .fsize(12);
}
.news-item_title {
    display: block;
    font-weight: 700;
    .fsize(20);
    margin: 1rem 0 1rem;
}
.news-item_text {
    display: block;
    margin: 0 0 1rem;
    .fsize(14);
}
.news-item_more {
    .fsize(14);
    color: @orange;
}
.earlier-link {
    display: block;
    text-align: center;
    margin: 2rem 0 0;
    color: @orange;
    .fsize(24);
    text-decoration: underline;
    &:hover {
        color: @orange;
        text-decoration: none;
    }
}
.serv-wrap {

}
.serv-item {
    margin: 0 0 6rem;
    color: @serv-item;
    text-decoration: none;
    line-height: 1.2;
    &:hover {
        color: @serv-item;
        text-decoration: none;
        .serv-item_image {
            border: 1px solid darken(@serv-item-border, 10%);
            img {
                transform: scale(1.1);
            }
        }
        .serv-item_more {
            text-decoration: underline;
        }
    }
}
.serv-item_image {
    border: 1px solid @serv-item-border;
    display: block;
    overflow: hidden;
    transition: all 0.3s ease;
    img {
        width: 100%;
        transition: transform 0.3s ease;
    }
}
.serv-item_title {
    display: block;
    margin: 1.2rem 0 1.3rem;
    .fsize(20);
    text-transform: uppercase;
    font-weight: 700;
}
.serv-item_text {
    display: block;
    margin: 0 0 1.2rem;
    font-weight: 400;
}
.serv-item_more {
    color: @orange;
}

.news-content-image {
    display: block;
    width: 100%;
    border: 2px solid fade(@gray-dark, 40%);
}
.news-content,
.serv-content,
.about-content,
.contacts-content {
    margin-bottom: 5rem;
    color: @page-content;
    .fsize(14);
    line-height: 1.3;
    strong {
        font-weight: 700;
    }
    a {
        color: @orange;
        text-decoration: underline;
        &:hover {
            color: @orange;
            text-decoration: none;
        }
    }
    ul {
        li {

        }
    }
}
.news-title,
.serv-title,
.about-title,
.contacts-title {
    margin: 1.5rem 0 2rem;
}
.page-subtitle {
    .fsize(20);
    color: @page-content;
}

.aside-title {
    .fsize(18);
    text-transform: uppercase;
    font-weight: 800;
}
.aside-serv {
    top: -55px;
    ul {
        padding: 0;
        margin: 2.7rem 0 0;
        li {
            position: relative;
            padding-left: 2.7rem;
            margin: 1.6rem 0;
            line-height: 1.2;
            list-style: none;
            &:before {
                position: absolute;
                left: 0;
                top: -0.1rem;
                content: '';
                display: inline-block;
                width: 1.7rem;
                height: 1.7rem;
                background-image: url(../images/decor/check-list.svg);
                background-size: 100%;
                background-repeat: no-repeat;
            }
        }
    }
}
.about-links {
    margin: 0 0 1.5rem;
    a {
        .fsize(16);
        text-transform: uppercase;
        margin-right: 1.5rem;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
            color: @orange;
        }
    }
}
.text-centered {
    text-align: center;
    i {
        display: inline-block;
        width: 85%;
        text-align: left;
    }
}
.aside-about {
    top: -30px;
    img {
        width: 100%;
        border: 2px solid fade(@gray-dark, 30%);
    }
}
.similar-projects {
    margin-top: 3.8rem;
}
.similar-projects_title {
    color: @orange;
    text-transform: uppercase;
    font-weight: 700;
    .fsize(16);
    &.dark {
        color: @page-content;
    }
}

.contacts-map {
    .map {
        border: 2px solid fade(@page-content, 25%);
        width: 100%;
        height: 54rem;
    }
}
.aside-contacts {

}
.navbar-default .navbar-toggle {
    border: none;
    background: @orange;
    border-radius: 0;
    padding: 1.5rem 1.2rem;
}
.navbar-default .navbar-toggle .icon-bar {
    background: @white;
}

.navbar-toggle .icon-bar {
    height: 3px;
    width: 3.5rem;
    &+.icon-bar {
        margin-top: 0.7rem;
    }
}
.modal-content {
    position: relative;
    padding: 2.6rem 4.8rem;
    border: none;
    border-radius: 0;
}
.modal-header {
    border: none;
    margin: auto auto 0.7rem;
}
.modal-title {
    font-weight: 700;
    .fsize(24);
    color: @black;
    text-transform: uppercase;
}
.modal-dialog {
    margin: 7% auto;
}
.modal-close {
    position: absolute;
    right: -3px;
    top: -20px;
    outline: none;
    opacity: 1;
    > span {
        display: inline-block;
        width: 16px;
        height: 18px;
        background-size: 100%;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAQAAAD4MpbhAAABaElEQVQoFQXBsUtUARwA4O/37l0PkdOjojq8lsDBBicHx8jNoOGCHIKmoIb+hJYWx5aiwa2GIBrcm0TDGqKihsIWUVrDkkN813u/vi9AAAAAklIgFAAAaKFEsXtufqmJS1vAwfVOvvu09luj1RLKzcHkc+bXWy64uHcvs/7y+IqeKaWgUOntrDRHpwejpdHS6UFz9PqmofN6KgWFSt/g26PMHy++v8zcWbdo3kBfpSBU+uYs7G9mZu5vW7FswVBfJQqkFsXbbXi1ZVqlg5QUaCWrs7cf1ON6/PD+wlkdIbVaCF09c7/eZG48efos8+d7KxYNzegKQtfM4Xrm4ZaRO3sfMnc3LBqa1RWE6uO1zH9/llfdMLp6tz7OfL7msr5KhMIZU6b19Ewp0Thx7K+xE3UpkBq1sYkQWhO1ViJKKTVqTBQCqTVRa6QspcZEapwKQGo1JhoZQiF0hJCAkFIjtSFACCQgkBL+A/A+mxX96sMEAAAAAElFTkSuQmCC);
    }
    &:hover {
        opacity: 0.5;
    }
}
.modal-body {
    padding: 0;
}
.modal-backdrop.in {
    opacity: 0.75;
}
label.error {
    position: absolute;
    top: 100%;
    left: 0;
    color: red;
    font-weight: 400;
    .fsize(10);
}
.callback-modal {
    .modal-dialog {
        width: 40rem;
    }
    .modal-content {
        padding: 2.6rem 3rem;
    }
    .modal-header {
        margin: auto auto 1.5rem;
    }
    .modal-title {
        .fsize(20);
    }

}
.modal-btn-wrap {
    position: relative;
}
.preloader {
    display: none;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.preloader-get-advice {
        left: 66px;
    }
    &.preloader-ask-question {
        left: 66px;
    }
    &.preloader-callback {

    }
}
.message {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    .fsize(13);
    &.success {
        color: green;
    }
    &.error {
        color: red;
    }
}

/* begin projects filters */
.projects-filter {
    margin: 0rem 0 0.5rem;
    .fsize(16);
    font-weight: 400;
    a {
        display: inline-block;
        margin-right: 1.5rem;
        color: @black;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
/* end projects filters */
.lb-outerContainer {
    background: @header-bg;
}



@media (max-width: 1200px) {
    .main-menu {
        margin: 0;
        float: right;
    }
    .header-right {
        text-align: center;
    }
    .header-right_phone {
        text-align: center;
    }
    .header-right_phone .callback {
        vertical-align: top;
        margin: 1.2rem 0 0 2rem;
        display: inline-block;
    }
    .btn.btn-get-advice {
        float: none;
    }
    .contacts-map .map {
        height: 40rem;
    }
}
@media (max-width: 1024px) {
    .tile {
        margin-top: 0;
        .tile-bg {
            position: static;
        }
        .hover-wrap {
            width: 100%;
            display: block;
            position: static;
            background: @white;
        }
        .hover {
            display: block;
            transform: none;
            width: 100%;
            position: static;
            color: @info-tile-text;
            padding: 0.5rem 0;
            border-top: 2px solid @orange;
        }
        .hover_icon {
            display: none;
        }
        .hover_line {
            display: none;
        }
        .hover_text {
            max-width: none;
        }
    }
    .tile-info-content {
        position: static;
        padding-bottom: 1rem;
    }
    .tiles-title {
        margin-bottom: 15px;
    }
}
@media (max-width: 992px) {
    .news-item_image {
        padding-right: 0;
    }
    .footer-form {
        float: none;
        margin-bottom: 30px;
    }
    .project-section_descrip {
        padding-top: 2.8rem;
        padding-left: 15px;
        &:before {
            top: 1rem;
            left: 1.5rem;
            transform: rotate(90deg);
        }
    }
    .tile .all-interiors {
        height: auto;
    }
    .tile-all-interiors {
        height: 5rem !important;
    }
    .breadcrumbs {
        .fsize(11);
    }
    .aside-serv {
        top: 0;
    }
    .news-det-descrip {
        margin-top: 2rem;
    }
    .tile {
        .hover_title {
            .fsize(20);
        }
        .hover_text {
            .fsize(12);
        }
    }
    .tile-info {
        padding: 3.5rem 1.5rem;
        .more-link {
            bottom: 3.2rem;
        }
    }
    .tile-info-content {
        padding-bottom: 3rem;
    }
    .visible-sm {
        display: block !important;
    }

}
@media (max-width: 768px) {
    .navbar-collapse {
        .main-menu {
            padding: 0;
            width: 100%;
            text-align: center;
            float: none;
            li {
                margin: 1.5rem 0;
                line-height: 1.3;
            }
        }
    }
    .footer-contacts {
        text-align: center;
    }
    .footer-chapters {
        text-align: center;
    }
    .footer-icon-link {
        float: none;
        margin: 6px 6px 0 6px;
    }
    .footer_copyright {
        text-align: center;
    }
    .powered-by {
        text-align: center;
    }
}
@media (max-width: 640px) {
    html {
        font-size: 9px;
    }
    .input-wrap--small {
        float: none;
        display: block;
        width: 100%;
    }
    .contacts-map .map {
        height: 25rem;
    }
    .btn {
        &.btn-form {
            width: 100%;
        }
    }
    .callback-modal {
        .modal-dialog {
            width: 30rem;
        }
        .modal-content {
            padding: 1.5rem 1.5rem;
        }
        .modal-header {
            margin: auto auto 1.5rem;
        }
        .modal-title {
            .fsize(17);
        }

    }
}
@media (min-width: 992px) {
    .col-md-6 {
        //width: 49.7%;
        &:last-child {
            float: right;
        }
    }
}