.setBg(@url, @bgSize: 100%, @bgRepeat: no-repeat) {
    width: unit(image-width(@url)) * 0.1rem;
    height: unit(image-height(@url)) * 0.1rem;
    background-image: url(@url);
    background-size: @bgSize;
    background-repeat: no-repeat;
}
.fsize(@sizeValue) {
    @remValue: @sizeValue/10;
    font-size: ~"@{remValue}rem";
}






html {
    background: @white;
}
body {
    overflow: hidden;
}
h1,
h2,
h2,
h4,
h5,
h6 {
    margin: 0;
}

.main-wrapper {

}
